.title {
  margin: 0;
  font-family: $ff-secondary;
  font-size: toRem(117);
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 2.338px;
  color: $color-default-white;
}

.title-2 {
  margin: 0;
  font-family: $ff-thirdly;
  font-size: toRem(32);
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.947px;
  color: $color-default-white;
  text-transform: uppercase;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
