@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.form-edit {
  &__headings {
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 6px;
  }

  &__subtitle {
    margin: 0;
    font-family: $ff-thirdly;
    font-size: 32px;
    line-height: 29px;
    letter-spacing: -0.03em;
  }
}
