@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

.form-edit {
  &__headings {
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 6px;
  }

  &__subtitle {
    margin: 0;
    font-family: $ff-thirdly;
    font-size: 32px;
    line-height: 29px;
    letter-spacing: -0.03em;
  }

  &__delete {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0;
    font-size: 27px;
    line-height: normal;
    border: none;
    text-decoration: underline;
    background-color: $color-transparent;
    align-self: center;
    cursor: pointer;
  }
}
