@import '~/assets/styles/variables.scss';


.form-avatar {
  &__dropbox {
    padding: 20px 32px 20px;
    border: 2px dashed #ffffff;
  }

  &__labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    margin: 0;
    font-family: "Inter";
    font-size: 27px;
    line-height: normal;
    color: #cae3d7;
    cursor: pointer;

    &--big {
      margin-top: 5px;
      font-family: "Kalam";
      text-align: center;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      font-size: 32px;
      font-weight: 700;
      line-height: normal;
      color: #ffffff;
      letter-spacing: -0.947px;
      text-transform: uppercase;
    }
  }

  &__exist-avatar {
    display: flex;
    gap: 22px;
    align-items: center;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__remove-button {
    display: flex;
    align-items: center;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    font-family: $ff-main;
    font-size: 14px;
    line-height: 30px;
    color: $color-default-white;
    text-transform: uppercase;
    background-color: $color-british-racing-green;
    border-radius: 50px;
    cursor: pointer;

  }
}
